---
import type {GetStaticPathsOptions} from 'astro';
import type {MarkdownInstance} from 'astro';
import PostPreview from '$coms/PostPreview.astro';
import config from '$config';
import MainLayout from '$lays/MainLayout.astro';

interface SeriesProps {
  count: number;
  posts: MarkdownInstance<Record<string, unknown>>[];
}

const {series} = Astro.params;
const {count, posts} = Astro.props as SeriesProps;

const allPosts = await Astro.glob('../p/**/*.{md,mdx}');
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime(),
);

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
  const allPosts = await Astro.glob('../p/**/*.{md,mdx}');
  const seriesData: {[key: string]: SeriesProps} = {};
  const seriesList = [];

  allPosts.map(post => {
    const {series} = post.frontmatter;
    if (series) {
      if (seriesData[series]) {
        seriesData[series].count = seriesData[series].count + 1;
        seriesData[series].posts.push(post);
      } else {
        seriesList.push(series);
        seriesData[series] = {
          count: 1,
          posts: [post],
        };
      }
    }
  });

  return seriesList.map(series => {
    return {params: {series: series}, props: seriesData[series]};
  });
}

const canonicalURL = Astro.url.toString();
const props = {
  wide: false,
  seo: {
    title: `Series : ${series}`,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: false},
    rss: {enabled: false, expanded: false},
    search: {enabled: true, expanded: false},
    series: {enabled: false, expanded: false},
    theme: {enabled: true, expanded: false},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    {/* Hero */}
    <div class='pt-[88px] flex flex-col'>
      <div class='max-w-3xl w-full mx-auto px-5 pt-8 pb-24'>
        <span class='text-lg text-gray-600'></span>
        <h1 class='text-6xl font-bold leading-relaxed'>{props.seo.title}</h1>
        <h2 class='text-2xl leading-normal text-gray-600'>{count} Posts</h2>
      </div>
    </div>
    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      {posts.map(post => <PostPreview post={post} />)}
    </div>
  </main>
</MainLayout>
