---
import {getCollection, getEntry} from 'astro:content';
import MainLayout from '$lays/MainLayout.astro';
import config from '$config';
import BlogPreview from '$coms/blog/BlogPreview.astro';
import Hero from '$coms/layout/Hero.astro';
import '$styles/article.scss';
// import '$styles/mainarticle.scss';

export interface Props {}

const {title, description, avatar, social} = config;
const canonicalURL = Astro.url.toString();
// About Page
const about = await getEntry('special', 'about.md');
const AboutContent = (await about.render()).Content;
// Latest 3 Blog Articles
const allBlogPosts = await getCollection('blog');
const latestBlogPosts = allBlogPosts
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
  .slice(0, 3);

const props = {
  wide: false,
  seo: {
    title: title,
    description: description,
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: true, expanded: true},
    home: {enabled: false, expanded: false},
    portfolio: {enabled: true, expanded: true},
    rss: {enabled: true, expanded: false},
    search: {enabled: false, expanded: true},
    series: {enabled: false, expanded: true},
    theme: {enabled: true, expanded: false},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <Hero category={''} title={config.author.name} subtitle={about.data.description} />

    <div class='flex flex-col'>
      <article id='article-container' class='max-w-3xl w-full mx-auto px-5 pt-8 pb-32'>
        <AboutContent />
      </article>
    </div>

    {/* latest posts */}
    <div class='max-w-3xl w-full mx-auto px-5 py-4'>
      <div>
        <h3>Last 3 Articles</h3>

        <BlogPreview posts={latestBlogPosts} />
      </div>
    </div>
  </main>
</MainLayout>
