---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
import LargeHeader from '../components/LargeHeader.astro';
import config from '../../blog.config.js';

const {
	title,
	description,
	avatar,
	social
} = config;
let canonicalURL = Astro.canonicalURL;

let allPosts = await Astro.glob('./blog/p/*.md');
allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
let firstPage = allPosts.slice(0, 5);

---

<BaseLayout seo={{ title: title, description: description, image:allPosts[0].frontmatter.image, canonical:
	canonicalURL.toString() }}>
	<LargeHeader avatar={avatar} title={title} description={description} socials={social} />
	<!-- <Nav {title} /> -->

	<main class="wrapper w-full">
		<div class="max-w-3xl w-full mx-auto">
			{firstPage.map((post) => (
			<PostPreview post={post} />
			))}
			<a href="/page/">All Posts {'>>'} </a>
		</div>
	</main>

</BaseLayout>