---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import PostPreview from '../components/PostPreview.astro';
import LargeHeader from '../components/LargeHeader.astro';
import { SocialConfigType } from '../types/ConfigType';

let title = 'yunu://';
let description = 'An example blog on Astro';
let canonicalURL = Astro.canonicalURL;
const avatar = '/public/assets/profile/avatar.jpeg'

let allPosts = await Astro.glob('./blog/p/*.md');
allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
let firstPage = allPosts.slice(0, 5);


const socials: SocialConfigType[] = [
	{ identifier: 'github', name: 'GitHub test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'facebook', name: 'Facebook test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'twitter', name: 'Twitter test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'discord', name: 'Discord test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'instagram', name: 'Instagram test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'linkedin', name: 'Linkedin test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'npmjs', name: 'Npm test', url: 'https://github.com/yunu7067/' },
	{ identifier: 'youtube', name: 'Npm test', url: 'https://github.com/yunu7067/' },
];
---

<BaseLayout seo={{ title: title, description: description, image:allPosts[0].frontmatter.image, canonical:
	canonicalURL.toString() }}>
	<LargeHeader avatar={avatar} title={title} description={description} socials={socials} />
	<!-- <Nav {title} /> -->

	<main class="wrapper">
		<a href="/page/">All Posts {'>>'} </a>
	</main>

</BaseLayout>