---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
import LargeHeader from '../components/LargeHeader.astro';
import config from '../../blog.config.js';

const {
	title,
	description,
	avatar,
	social
} = config;
let canonicalURL = Astro.canonicalURL;

let allPosts = await Astro.glob('./p/*.md');
allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime());
let firstPage = allPosts.slice(0, 3);

---

<BaseLayout seo={{ title: title, description: description, image:allPosts[0].frontmatter.image, canonical:
	canonicalURL.toString() }}>
	<LargeHeader avatar={avatar} title={title} description={description} socials={social} />
	<!-- <Nav {title} /> -->

	<main class="wrapper w-full">
		<div class="max-w-3xl w-full mx-auto">
			<AdditionalPost />

			{firstPage.map((post) => (
			<PostPreview post={post} />
			))}
			<div class="text-right tracking-tight">
				<a href="/page/" class="p-2 inline-flex flex-row items-center gap-2">
					All Posts
					<ArrowRightCircleLine />
				</a>
			</div>
		</div>
	</main>

</BaseLayout>