---
import BaseLayout from './BaseLayout.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';


const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<BaseLayout seo={{title: title, description: description}}>
	<!-- 게시글 데이터 -->
	<main class="wrapper w-full">
		<div class="max-w-3xl w-full mx-auto">

			<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
				<slot />
			</BlogPost>
		</div>
	</main>

	<!-- 이전 다음글 -->
	<!-- 글쓴이에 관하여-->

</BaseLayout>

<style lang="scss">
	pre.astro-code {
		padding: 10px;

	}
</style>