---
import BaseLayout from './BaseLayout.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import Author from '../components/Author.astro';


const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<BaseLayout seo={{title: title, description: description}}>
	<BlogHeader />
	<div class="max-w-3xl w-full">
		<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
			<slot />

			<Author name="YUNU7067" href="/" />
		</BlogPost>
	</div>
</BaseLayout>