---
import BaseLayout from './BaseLayout.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import Author from '@components/Author.astro'
import config from '../../blog.config.js';
import { parse } from 'node-html-parser';
import BlogToc from '@components/BlogToc.astro';
import { PostContent } from 'src/types';

const { content } = Astro.props;
const { title, description, publishDate, tags, astro } = content as PostContent;

// console.debug(content);
// 목차 (h1, h2, h3 까지만 추출)
const headers = parse(astro?.html || '').querySelectorAll("h1, h2, h3");
---

<BaseLayout seo={{title: title, description: description}} config={config}>

	<main class="wrapper w-full">
		<div class="max-w-3xl w-full mx-auto">
			<BlogHeader title={config.title} />


			<BlogPost title={title} publishDate={publishDate} locale={config.locale.languageCode} tags={tags}
				description={description}>
				{headers && headers.length &&
				<BlogToc contents={headers} />}


				<slot />

			</BlogPost>

			<Author avatar={config.avatar} name="YUNU7067" href="/" />
		</div>
	</main>
</BaseLayout>