---
// Component Imports
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import Pagination from '../../components/Pagination.astro';

export async function getStaticPaths({paginate}) {
	let allPosts = await Astro.glob('../posts/*.md');
	const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

	// Return a paginated collection of paths for all posts
	return paginate(sortedPosts, { pageSize: 2 });
}
// page
const title = 'Don’s Blog';
const description = 'An example blog on Astro';
const { canonicalURL } = Astro;
const { page } = Astro.props;
---

<html lang="en">
	<head>
		<title>{title}</title>
		<BaseHead {title} {description} image={page.data[0].frontmatter.image} canonicalURL={canonicalURL.toString()} prev={page.url.prev} next={page.url.next} />

		<style>
			.title {
				font-size: 3em;
				letter-spacing: -0.04em;
				margin-top: 2rem;
				margin-bottom: 0;
				text-align: center;
			}
			.count {
				font-size: 1em;
				display: block;
				text-align: center;
			}
		</style>
	</head>

	<body>

		<main class="wrapper">
			<h2 class="title">All Posts</h2>
			<small class="count">{page.start + 1}–{page.end + 1} of {page.total}</small>
			{page.data.map((post) => <BlogPostPreview post={post} />)}
		</main>

		<footer>
			<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
		</footer>
	</body>
</html>