---
import type {GetStaticPathsOptions} from 'astro';
import BlogPostPreview from '$coms/PostPreview.astro';
import Pagination from '$coms/Pagination.astro';
import config from '$config';
import MainLayout from '$lays/MainLayout.astro';

export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
  const allPosts = await Astro.glob('../p/**/*.{md,mdx}');
  const sortedPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime(),
  );
  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, {pageSize: 7});
}

const {page} = Astro.props;
const canonicalURL = Astro.url.toString();

const props = {
  wide: false,
  seo: {
    title: 'Blog',
    description: 'Blog page',
    canonical: canonicalURL,
  },
  NavigationItems: {
    blog: {enabled: false, expanded: true},
    home: {enabled: true, expanded: false},
    portfolio: {enabled: true, expanded: false},
    rss: {enabled: false, expanded: false},
    search: {enabled: true, expanded: false},
    series: {enabled: true, expanded: true},
    theme: {enabled: true, expanded: true},
  },
};
---

<MainLayout
  config={config}
  seo={props.seo}
  NavigationItems={props.NavigationItems}
  wide={props.wide}
>
  <main class='w-full'>
    <div class='max-w-3xl w-full mx-auto'>
      <main class=''>
        <h2 class='mt-8 mb-1 text-5xl tracking-tight text-center'>All Posts</h2>
        <small class='block text-base text-center mb-6'
          >{page.start + 1}–{page.end + 1} of {page.total}
        </small>
        {page.data.map(post => <BlogPostPreview post={post} />)}
      </main>

      <footer>
        <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
      </footer>
    </div>
  </main>
</MainLayout>
